<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events.size()}">No events!</p>

<table th:if="${events.size()}" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Contact Email</th>
        <th>Registered Attendees No.</th>
        <th>Registration Required?</th>
        <th>Type</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}">Event Name</td>
        <td th:text="${event.description}">Event Description</td>
        <td th:text="${event.address}">Event Address</td>
        <td th:text="${event.contactEmail}">Event Contact Email</td>
        <td th:text="${event.attendeeNum}">Event Attendee No.</td>
        <td th:text="${event.registrationRequired}">Required Registration</td>
        <td th:text="${event.type.displayName}">Event Type</td>
        <td>
            <button class="btn btn-primary"><a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a></button>
        </td>
    </tr>
</table>
</body>
</html>